/* Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: calc($mobile-breakpoint + $layoutPadding * 2)) {
    @content;
  }
}

// 530px
@mixin for-narrow-layout {
  @media (min-width: calc($mobile-breakpoint + $layoutPadding * 2)) {
    @content;
  }
}

//777px
@mixin for-normal-layout {
  @media (min-width: calc($narrow-breakpoint + $layoutPadding * 2)) {
    @content;
  }
}

//1000px
@mixin for-wide-layout {
  @media (min-width: calc($normal-breakpoint + $layoutPadding * 2)) {
    @content;
  }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
  position: relative;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: calc(($height / $width) * 100%);
  }

  >* {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  >img {
    height: 100%;
    object-fit: cover;
  }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}

@mixin hover-supported-header {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin line-elipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin spacer {
  border-bottom: 1px solid $cell-border-color;
  margin: 0 auto;
  width: 100%;
}

@mixin left-sticky {
  position: sticky;
  z-index: 4;
  left: 40px;
}

//not working on the render
@mixin arrow-up-modal($num) {

  position: absolute;
  width: 0;
  height: 0;
  transform: translate(-50%, 0);
  top: -9px;
  left: $num;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(255, 255, 255);
  border-color: $border-cell;

}