// Colors

// Bgcs

// Layout
$layoutPadding: 17px;
$fullPrecent: 100%;
$commonFontSize: 14px;

// Breakpoints
$mobile-breakpoint: 555px;
$narrow-breakpoint: 700px;
$normal-breakpoint: 1200px;

$padded-break-small: $mobile-breakpoint + $layoutPadding * 2;
$padded-break-medium: $narrow-breakpoint + $layoutPadding * 2;
$padded-break-large: $normal-breakpoint + $layoutPadding * 2;